/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 250px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1C2331;
}

.sec-nav {
  padding: 16px;
  display: flex;
}

.sec-nav img {
  flex-shrink: 0;
  object-fit: contain;
  width: 80px;
  height: 80px;
  margin-right: 16px;
}

.sec-nav h1{
  font-size: 17px;
  font-weight: 600;
  line-height: 1.41;
  letter-spacing: -0.4px;
  color: #000000;
}

.sec-nav h2{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: hsl(0,0%,62%);
}

.fadeIn img {
  border-radius: 6px;
  width: 100%;
  height: 216px;
  flex-shrink: 0;
  object-fit: cover;
  margin-bottom: 8px;
}

.fadeIn p{
  font-size: 17px;
  font-weight: 600;
  line-height: 1.41;
  letter-spacing: -0.4px;
  color: rgb(0, 0, 0);
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
}

.mysearch{
  margin-top: 0;
  margin-bottom: 1px;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

.mysearch input{
  background: none;
  resize: none;
  padding-top: 4px;
  padding-bottom: 8px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid;
  border-color: hsl(0,0%,96%);
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  -webkit-letter-spacing: -0.2px;
  -moz-letter-spacing: -0.2px;
  -ms-letter-spacing: -0.2px;
  letter-spacing: -0.2px;
  border: none;
  border-radius: 8px;
  background: hsl(0,0%,96%);
  padding: 8px;
  -webkit-appearance: none;
}

.btnfooter {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3000;
  bottom: 0;
  padding: 8px;
  min-height: 64px;
  background-color: #ffffff;
}

.orderbtn {
  width: 100%;
  border-radius: 4px;
  color: #000000;
  border: none;
  background-color: rgba(247,118,14,1);
  font-size: 15px;
  -webkit-letter-spacing: -0.2px;
  -moz-letter-spacing: -0.2px;
  -ms-letter-spacing: -0.2px;
  letter-spacing: -0.2px;
  line-height: 1.27;
  min-height: 48px;
  padding: 14px 16px;
  cursor: pointer;
  /*display: -webkit-flex;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  touch-action: manipulation;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.productcontener{
    border-top: 1px solid;
    border-top-color: currentcolor;
    border-top-color: hsl(0,0%,96%);
    display: grid;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px;
    margin-top: 0;
    height: 100%;
    background-color: #ffffff;
    grid-gap: 16px;
    grid-template-columns: repeat(2,1fr);
}

.producthome{
    cursor: pointer;
    width: 100%;
    margin-top: 8px;
    height: inherit;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Product Page */
.topproducy{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    -moz-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    top: 0px;
    position: sticky;
    width: 100%;
    z-index: 3000;
    -moz-box-align: center;
    align-items: center;
    height: 48px;
    flex: 0 0 auto;
    display: flex;
    color: rgb(0, 0, 0);
}

.topproducy h1{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
    letter-spacing: -0.4px;
    text-align: center;
    padding-left: 9%;
    padding-right: 9%;
    flex: 1 1 auto;
    -moz-box-align: center;
    align-items: center;
    color: inherit;
    position: absolute;
    left: 0px;
    right: 0px;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -moz-box-orient: vertical;
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: opacity 0.5s ease 0s, transform 0.2s ease 0s;
}

.topproducyarrow{
    font-size: 21px;
    height: 32px;
    font-weight: 400;
    color: currentcolor;
    display: inline-flex;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    appearance: none;
    border: medium none;
    font-stretch: normal;
    font-style: normal;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    flex-shrink: 0;
    padding: 0px;
    z-index: 1;
    touch-action: manipulation;
    line-height: 1;
    transform: scale3d(1, 1, 1);
}

.addcartbtn{
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 1.23;
    padding: 8px 16px;
    min-height: 32px;
    cursor: pointer;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    touch-action: manipulation;
    transition: all 0.2s ease-in 0s;
    border: 1px solid;
    user-select: none;
}

.applycodebtn{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(247, 118, 14);
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 1.23;
    padding: 8px 16px;
    min-height: 32px;
    cursor: pointer;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    touch-action: manipulation;
    transition: all 0.2s ease-in 0s;
    border: 1px solid;
    user-select: none;
}

.productcount {
    font-size: 17px;
    line-height: 1.33;
    letter-spacing: -0.2px;
    font-weight: 600;
    padding-right: 4px;
    flex-shrink: 0;
    color: rgb(247, 118, 14);
    overflow-wrap: break-word;
    word-break: break-word;
}

.reviewbtn{
    width: 100%;
    border-radius: 4px;
    color: #000000;
    border: none;
    background-color: rgba(247,118,14,1);
    font-size: 15px;
    -webkit-letter-spacing: -0.2px;
    -moz-letter-spacing: -0.2px;
    -ms-letter-spacing: -0.2px;
    letter-spacing: -0.2px;
    line-height: 1.27;
    min-height: 48px;
    padding: 14px 16px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    -webkit-text-decoration: none;
    text-decoration: none;
    touch-action: manipulation;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border: 1px solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reviewbtn-item{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    margin: -8px;
    display: block;
    padding: 8px;
    min-width: 32px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.25);
}

.reviewbtn-mid{
    margin: auto;
    padding: 0 8px;
    vertical-align: middle;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: absolute;
    left: 0;
    right: 0;
}

.reviewbtn-cost{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    margin: -8px;
    display: block;
}

/* End Product Page */
/* View Page */
.grayline{
    background-color: #eee;
    height: 10px;
}

.price{
    height: 52px;
    padding: 16px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.41;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.price .first{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    -webkit-letter-spacing: -0.2px;
    -moz-letter-spacing: -0.2px;
    -ms-letter-spacing: -0.2px;
    letter-spacing: -0.2px;
    font-weight: 600;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.price .second{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    -webkit-letter-spacing: -0.2px;
    -moz-letter-spacing: -0.2px;
    -ms-letter-spacing: -0.2px;
    letter-spacing: -0.2px;
    color: hsl(0,0%,38%);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.contnernotes{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 16px;
    margin-top: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    position: relative;
    width: inherit;
}

.notes{
    background: none;
    resize: none;
    padding-top: 4px;
    padding-bottom: 8px;
    display: block;
    width: 100%;
    border: none;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentcolor;
    border-radius: 0;
    border-bottom: 1px solid;
    border-bottom-color: currentcolor;
    border-color: hsl(0,0%,96%);
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    -webkit-letter-spacing: -0.2px;
    -moz-letter-spacing: -0.2px;
    -ms-letter-spacing: -0.2px;
    letter-spacing: -0.2px;
}

.pulse-minus{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
}

.pulse-minus button {
    font-size: 26px;
    height: 30px;
    color: rgba(247,118,14,1);
    /*display: -webkit-inline-box;*/
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-stretch: normal;
    font-style: normal;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0;
    touch-action: manipulation;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.pulse-minus p{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    -webkit-letter-spacing: 0.3px;
    -moz-letter-spacing: 0.3px;
    -ms-letter-spacing: 0.3px;
    letter-spacing: 0.3px;
    color: #000000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 40px;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    height: 14px;
}

/* End View Page */

/* credit Page */
.paymentpage1 {
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: start;
    justify-content: flex-start;
    text-align: center;
    margin-top: 0px;
    flex-shrink: 0;
    flex-direction: column;
    padding: 16px;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.paymentpage1 i{
    line-height: 0;
    font-size: 160px;
    height: 160px;
    color: rgb(228, 162, 31);
}

.paymentpage1 h1{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    letter-spacing: 0.3px;
    padding-bottom: 8px;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.paymentpage2{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.paymentpage2 button{
    padding: 4px 0px;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border: 2px solid rgb(228, 162, 31);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.2px;
}

.paymentpage1 p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.2px;
    padding-bottom: 16px;
    color: rgb(97, 97, 97);
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

/* End credit Page */

/* OTP Page */
.otppage1{
    flex-direction: column;
    padding: 16px;
    margin-top: 8px;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.otppage1 p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.2px;
    color: rgb(97, 97, 97);
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
/* End OTP Page */

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* Footer color for sake of consistency with Navbar */
  .page-footer {
    background-color: #1C2331;
  }
}
