/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 250px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    direction: rtl;
    text-align: right;
}

.btnfooter{
    direction: ltr;
}
